body {
  background-color: #010101;
  background: #010101;
  /* Old browsers */
  background: -moz-linear-gradient(left, #010101 0%, #232323 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #010101 0%, #232323 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #010101 0%, #232323 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient-grey-dark', endColorstr='$gradient-grey-light',GradientType=1 );
  /* IE6-9 */ }

.loading-component {
  width: 100vw;
  height: 50vh;
  background-color: pink;
  color: red; }

.App {
  display: grid;
  align-content: center;
  justify-content: center;
  height: 80vh;
  text-align: center; }

.App-logo {
  height: 80px; }

.App-header {
  width: 100%;
  color: #f1f1f1; }

.App-title {
  font-size: 2.5em; }

.App-intro {
  font-size: large;
  color: #f1f1f1; }
